<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>COVID-19</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <form method="POST" action="http://localhost:5000/add_patient">
        <H1> Nuovo paziente </H1> <br>
        Medico <input type = "text" name= "medico" /> <br>
        Data e ora <input type = "datetime-local" name= "data_ora" /> <br>
        Cognome <input type = "text" name= "cognome" /> <br>
        Nome <input type = "text" name= "nome" /> <br>
        Data di nascita <input type = "date" name= "data_nascita" /> <br>
        Luogo di nascita <input type = "text" name= "luogo_nascita" /> <br>
        Indirizzo <input type = "text" name= "indirizzo" /> <br>
        Comune <input type = "text" name= "comune" /> <br>
        Provincia <input type = "text" name= "provincia" /> <br>
        Telefono fisso <input type = "text" name= "tel_fisso" /> <br>
        Telefono cellulare <input type = "text" name= "tel_cellulare" /> <br>
        Dipentente Asl <input type = "checkbox" name= "dipendente_asl" /> <br>
        Numero conviventi <input type = "text" name= "numero_conviventi" /> <br>
        Interlocutore <input type = "text" name= "interlocutore" /> <br>
        Soggiorno a rischio <input type = "text" name= "soggiorno_a_rischio" /> <br>
        Paese a rischio <input type = "text" name= "paese_a_rischio" /> <br>
        Data partenza zona rischio <input type = "date" name= "data_partenza_zona_rischio" /> <br>
        Contatti casi accertati <input type = "checkbox" name= "contatti_casi_accertati" /> <br>
        Contatti casi a rischio <input type = "checkbox" name= "contatti_casi_rischio" /> <br>
        Presenti sintomi <input type = "checkbox" name= "presenti sintomi" /> <br>
        Data comparsa sintomi <input type = "date" name= "data_comparsa_sintomi" /> <br>
        Tosse <input type = "checkbox" name= "tosse" /> <br>
        Mal di gola <input type = "checkbox" name= "mal_di_gola" /> <br>
        Dolori muscolari <input type = "checkbox" name= "dolori_muscolari" /> <br>
        Malessere generale <input type = "checkbox" name= "malessere_generale" /> <br>
        Vomito <input type = "checkbox" name= "vomito" /> <br>
        Respiro accelerato <input type = "checkbox" name= "respiro_accelerato" /> <br>
        Difficolta a respirare dopo lieve sforzo <input type = "checkbox" name= "difficolta_respirare_lieve_sforzo" /> <br>
        Temperatura superiore a 38 <input type = "checkbox" name= "temperatura_superiore38" /> <br>
        Temperatura <input type = "text" name= "temperatura" /> <br>
        Vaccinazione antinfluenzale <input type = "checkbox" name= "vaccinazione_antinfluenzale" /> <br>
        Assunzione farmaci <input type = "checkbox" name= "assunzione_farmaci" /> <br>
        Elenco farmaci <input type = "text" name= "elenco_farmaci" /> <br>
        Note <input type = "text" name= "note" /> <br>
        Paziente sottoposto a <input type = "text" name= "paziente_sottoposto_a" /> <br>
        Deceduto <input type = "checkbox" name= "deceduto" /> <br>
        Guarito <input type = "checkbox" name= "guarito" /> <br>
        <input type = "submit">
    </form>
    {% endblock %}
  </body>
</html>
