<HTML>
<BODY bgcolor="red">
{% extends "template.html" %}
{% block content %}
<form method="POST" action="">
    <center>
    <H1> Interroga database </H1> <br>
    Nome Utente <input type = "text" name= "username" /> <br>
    <input type = "submit">
    </center>
{% endblock %}
</form>
</BODY>
</HTML>
