<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>COVID-19</title>
   <link rel="stylesheet" href="{{ url_for('static',     filename='css/template.css') }}">
 </head>
 <body>
    <header>
      <div class="container">
        <h1 class="logo">Menu</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('add_patient') }}">Aggiungi paziente</a></li>
            <li><a href="{{ url_for('query') }}">Interroga database</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    
    {% block content %}
    {% endblock %}
    
 </body>
</html>
